<html>
  <head>
    <title>Mark Portal</title>
    <link
      rel="stylesheet"
      href="bower_components/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <div class="card center-align">
    <div class="card-header">Dear Student</div>
    <div class="card-body">
      <h3 class="card-title">You have been registered successfully</h3>
      <p>Please note down the registered ID for your Login</p>
      <h1>Your register ID <%= Id%></h1>
      <a href="StudentLogin" class="btn btn-primary buttonspace"
        >Click here to Login</a
      >
    </div>
  </div>
</html>
