<html>
  <head>
    <title>Mark Portal</title>
    <link
      rel="stylesheet"
      href="bower_components/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <div class="card center-align">
    <div class="card-header">Dear Admin</div>
    <div class="card-body">
      <h3 class="card-title">Mark has been uploaded successfully</h3>
      <p>Please note down the resultID for your reference</p>
      <h1>Your result ID <%= Id%></h1>
    </div>
  </div>
</html>
